<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> services Our Website </title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>The services that we provide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nihil exercitationem tempore ipsum corporis ad sapiente aperiam porro. Expedita, dolores quidem facilis non sapiente laborum animi ratione iusto sit praesentium ipsum et, itaque assumenda, recusandae consequuntur quia. Ex odit voluptate fugit rerum repellendus sapiente eos delectus cumque laudantium, cum dolorum.</p>
        <button>Contac Us</button>
    </div>
</body>
</html>